<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/styles.css" />
        <title>Maria Fernanda Sánchez</title>
    </head>
    <body>
       <header>
          <div>  
        <img src="/public/img/logo.png" alt="logo" >
       <h4>Programa #Yo Programo</h4> 
      <!--
        LISTA ICONOS DERECHA SUPERIOR
      -->
      <ul class="iconos">
    <li><a href="https://www.facebook.com/">
        <i class="fab fa-facebook" style="color: #ffffff;"></i>
    </a></li>
    <li><a href="https://www.facebook.com/">
        <i class="fab fa-linkedin" style="color: #ffffff;"></i>
        </a></li>
        <li><a href="/login" class="login">
            <i class="fas fa-user-circle" style="color: white;"></i>    
    </a></li>
      </ul>
    </div>
</header> 
     <!--  <a href="/login" class="login">
        <i class="fas fa-user-circle"></i>    
</a>
<div>
    <a href="https://www.facebook.com/">
    <i class="fab fa-facebook" style="color: #ffffff;"></i>
</a>
<a href="https://www.facebook.com/">
<i class="fab fa-linkedin" style="color: #ffffff;"></i>
</a>   
!-->
        
    
        <nav>
            <h1>MARIA FERNANDA SANCHEZ</h1>
            <ul class="navegacion">
              <li><a href="#sobremi" class="nav-link">Acerca de Mí</a></li>
              <li><a href="#educacion" class="nav-link">Educación</a></li>
              <li><a href="#habilidades" class="nav-link">Habilidades</a></li>
              <li><a href="#proyectos" class="nav-link">Proyectos</a></li>
              <li><a href="#contacto" class="nav-link">Contacto</a></li>
            </ul>
            <button class="menu-hamburguesa" id="menu-hamburguesa">
              <ion-icon class="barras" name="menu-outline"></ion-icon>
            </button>
        
    
      </nav>
     
       
    
       <div>
   <img src="/public/img/banner.jpeg" alt="banner" class="banner">
<h2>Maria Fernanda Sánchez</h2>
<div>
    <section>
        <h2>Acerca de </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit possimus dignissimos adipisci aperiam, obcaecati, commodi consectetur ex dolore quam rerum eum vel voluptatem voluptatibus expedita placeat vitae, eaque enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi, quas earum odit eius laudantium iure quis et magni ipsam? Libero, sint deleniti! Consectetur quam doloremque a, enim veritatis repellendus!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus in tempora, velit vel tenetur quis architecto quod quaerat, repellat nobis commodi aspernatur! Ullam deserunt dolorem, possimus dolor laudantium ducimus.
    </p>
    </section>
</div>
<div>
    <section>
        <h2>Experiencia</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit possimus dignissimos adipisci aperiam, obcaecati, commodi consectetur ex dolore quam rerum eum vel voluptatem voluptatibus expedita placeat vitae, eaque enim.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi, quas earum odit eius laudantium iure quis et magni ipsam? Libero, sint deleniti! Consectetur quam doloremque a, enim veritatis repellendus!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus in tempora, velit vel tenetur quis architecto quod quaerat, repellat nobis commodi aspernatur! Ullam deserunt dolorem, possimus dolor laudantium ducimus.
        </p>
    </section>
</div>
<div>
    <section>
        <h2>Educacion</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit possimus dignissimos adipisci aperiam, obcaecati, commodi consectetur ex dolore quam rerum eum vel voluptatem voluptatibus expedita placeat vitae, eaque enim.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi, quas earum odit eius laudantium iure quis et magni ipsam? Libero, sint deleniti! Consectetur quam doloremque a, enim veritatis repellendus!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus in tempora, velit vel tenetur quis architecto quod quaerat, repellat nobis commodi aspernatur! Ullam deserunt dolorem, possimus dolor laudantium ducimus.
        </p>
    </section>
</div>
<p>  </p>

</div>
<div>
    <section>
        <h2>Hard Skills & Soft Skills </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit possimus dignissimos adipisci aperiam, obcaecati, commodi consectetur ex dolore quam rerum eum vel voluptatem voluptatibus expedita placeat vitae, eaque enim.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi, quas earum odit eius laudantium iure quis et magni ipsam? Libero, sint deleniti! Consectetur quam doloremque a, enim veritatis repellendus!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus in tempora, velit vel tenetur quis architecto quod quaerat, repellat nobis commodi aspernatur! Ullam deserunt dolorem, possimus dolor laudantium ducimus.
        </p>
    </section>
</div>
<div>
    <section>
        <h2>Proyectos</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit possimus dignissimos adipisci aperiam, obcaecati, commodi consectetur ex dolore quam rerum eum vel voluptatem voluptatibus expedita placeat vitae, eaque enim.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi, quas earum odit eius laudantium iure quis et magni ipsam? Libero, sint deleniti! Consectetur quam doloremque a, enim veritatis repellendus!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus in tempora, velit vel tenetur quis architecto quod quaerat, repellat nobis commodi aspernatur! Ullam deserunt dolorem, possimus dolor laudantium ducimus.
        </p>
    </section>
</div>












</body>
</html>